* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.darkmode {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.container.darkmode {
  background-color: #2e2e2e;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.upload-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

select:hover {
  border-color: #4caf50;
}

.custom-file-upload {
  background-color: #ffffff;
  color: #2196f3;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #2196f3;
  min-width: 150px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #2196f3;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

.label-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

button {
  background-color: #ffffff;
  color: #2196f3;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #2196f3;
  font-size: 1rem;
  min-width: 150px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  transition: all 0.3s;
}

textarea:focus {
  border-color: #4caf50;
}

/* Styl dla przełącznika Dark Mode */
.darkmode-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
